/* ------- NAV -- NAV -------*/
.visible{
    visibility: visible;
    display: block;
}
.hidden{
    visibility: hidden;
    display: none;
}

nav#sidebar{
    background: #000;
    color: var(--White);
    width: 100%;
    height: 70%;
    text-transform: uppercase;
    line-height: 5.5rem;
    font-size: 3.5rem;
    margin-left: 2.5%;
    position: absolute;
    top: 0;
    right:-380px;
    transition: .4s;
}
nav#sidebar.active{
    right: 0;
}
#sidebar.closed{
    position: absolute;
    top: 0;
    right:-380px;
    transition: .4s;
}
#sidebar div ul{
    margin: 7.5% 12% 20%;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}

#sidebar ul{
    margin-left: 7%;
}
.sidebar_entete h1{
    font-size: 2rem;
}